{% extends "base.html.twig" %}

{% block title %}Sign in | Perfect Med{% endblock %}

{% block body %}
<form method='POST' class="sign_up_form">

    <input class="text-input text-input--material" name="login" placeholder="username or email" type="text">
    <br />
    <input class="text-input text-input--material" name="password" placeholder="password" type="password">
    <br />
    <input class="text-input text-input--material" name="repeat_password" placeholder="password" type="password">
   
    {% if error is defined %}
        {{ error }}
    {% endif %}

    <input type='submit' class="sign_up_form_submit" value='log in' name="submit">
</form>

{% endblock %}